@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,500&family=Open+Sans:wght@300;400&display=swap");

html {
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  color: #cdcdcd;
}

body {
  margin: 0;
  padding: 0 1.5rem;
  background: #000;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 2.6em;
  color: #f0f0f0;
  text-align: center;
  margin-bottom: 0.3em;
}

.subtitle {
  text-align: center;
  font-size: 0.78rem;
  font-weight: 300;
  color: #cdcdcd;
}

svg {
  display: inline-block;
  vertical-align: middle;
  outline: none;
}

.__react_component_tooltip {
  font-family: "Helvetica", sans-serif;
}

footer {
  margin-top: auto;
  text-align: center;
  font-size: 0.62rem;
  font-weight: 200;
  color: #838383;
  flex-shrink: 0;

  a {
    font-weight: 400;
    color: #838383;
    text-decoration: none;
  }

  a:hover {
    color: #989898;
  }
}
