@font-face {
  font-family: "JetBrains";
  src: url("../../fonts/JetBrainsMono-Regular.woff") format("woff");
}

html {
  font-family: system-ui, sans-serif;
  font-size: 1.25rem;
  color: #cdcdcd;
}

body {
  margin: 0;
  padding: 0 1.5rem;
  background: #000;
}

svg {
  display: inline-block;
  vertical-align: middle;
  outline: none;
}

h1 {
  font-family: "JetBrains";
  font-size: 2.5em;
  color: #f0f0f0;
  text-align: center;
}

.site-desc {
  text-align: center;
  font-size: 0.85rem;
  font-weight: 200;
}

.footer {
  margin-top: 50px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 0.65rem;
  font-weight: 200;
  color: #838383;

  a {
    font-weight: 400;
    color: #838383;
    text-decoration: none;
  }

  a:hover {
    color: #989898;
  }
}
